<h1>Admin</h1>

<div class="py-2">
  <%= link_to "Categories", :categories, class: "h3" %>
</div>
<div class="py-2">
  <%= link_to "Users", :users, class: "h3" %>
</div>
<div class="py-2">
  <%= link_to "Bakes", bakes_path('all'), class: "h3" %>
</div>
<div class="py-2">
  <%= link_to "Orders", :bake_orders, class: "h3" %>
</div>
<div class="py-2">
  <%= link_to "Bake Jobs", :bake_jobs, class: "h3" %>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary shadow" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close shadow" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Modal Dialogue Message
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary shadow" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary shadow">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary shadow" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close shadow" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Static Modal Dialogue Message
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary shadow" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary shadow">Understood</button>
      </div>
    </div>
  </div>
</div>
