<div class="card shadow">
    <%= link_to bake do %>
      <% if bake.image.attached? %>
        <%= image_tag(bake.image, class: 'card-img card-img-top') %>
      <% else %>
        <%= image_tag(image-path('no-image'), class: 'card-img card-img-top') %>
      <% end %>
    <% end %>
  <div class="card-body">
    <h5><%= link_to bake.name, bake, class: 'card-title' %></h3>
    <div class="h1 mb-0"><%= "#{number_to_currency(bake.price_dollars)}"%></div>
    <% if bake.unit_count > 1 %>
      <span class="bakester-inline"><%= "#{bake.unit_count > 1 ? "#{bake.unit_count} " : ""}#{bake.unit.pluralize(bake.unit_count)}" %></span>
      <span class="bakester-inline"><%= " - #{number_to_currency(bake.unit_price_dollars)} each" %></span>
    <% end %>    <% unless (controller_name == 'bakes' && action_name == 'my_bakes') || (controller_name == 'registrations' && action_name == 'show') %>
    <p class='card-text mt-2'><%= raw "By #{link_to bake.baker.full_name, bake.baker}" %></p>
    <% end %>
    <% unless controller_name == 'categories' && action_name == 'show' %>
      <!--<p><%= link_to bake.category.name, bake.category %></p>-->
    <% if action_name == 'my_bakes' %>
      <p><%= link_to bake.category.name, my_bakes_path(params: {category: bake.category.id}) %></p>
    <% else %>
      <p><%= link_to bake.category.name, bakes_path(params: {category: bake.category.id}) %></p>
    <% end %>

    <% end %>
    <p class='card-text'><%= bake.description %></p>
    <p class='card-text'>Delivered in <%= bake.lead_time_days %> days</p>
    <p class='card-text'><%= bake.view_count %> views</p>
    <% if !bake.active %>
      <p class='card-text alert alert-danger' role="alert">Hidden</p>
    <% end %>
  </div>

  <!-- Footer -->
  <div class="card-footer bg-bakester-light-pink">
      <% unless user_signed_in? && current_user.id == bake.baker.id %>
        <%= button_to "Add to Cart", :cart, params: {bake_id: bake.id, context: :bakes}, class: 'btn btn-secondary shadow', form_class: "inline-button-to" %>
      <% end %>
    <% if user_signed_in? %>
      <% if (bake.baker.id == current_user.id || current_user.admin ) %>
        <%= button_to "Edit", edit_bake_path(bake) ,method: :get, class: 'btn btn-primary shadow', form_class: "inline-button-to" %>
      <% end %>
    <% end %>
  </div>
</div>