<%= form_with model: @bake, class: 'row' do |f| %>

  <% if @bake.errors.any? %>
    <div class='col-12'
      <h3>There <%= 'is'.pluralize(@bake.errors.count) + " " + pluralize(@bake.errors.count, "error") %></h3>
      <ul>
        <% @bake.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='col-md-6'>
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="col-md-3">
    <%= f.label :category, class: 'form-label' %>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name, {prompt: "Select Category"}, {class: "form-select"} %>
  </div>
  
  <div class="col-md-3">
    <%= f.label :lead_time_days,"Lead Time (days)", class: 'form-label' %>
    <%= f.text_field :lead_time_days, class: 'form-control' %>
  </div>

  <div class="col-12">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control', rows: 6  %>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <%= label_tag :unit_price_dollars, "Unit Price", class: 'form-label' %>
      <%= number_field_tag :unit_price_dollars, @bake.unit_price_dollars, step: 0.05, min: 0.05, class: 'form-control' %>
    </div>
    <span class="col-auto"> per </span>
    <div class="col-lg-5">
      <%= f.label :unit, class: 'form-label' %>
      <%= f.text_field :unit, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <% if (action_name == "edit" || action_name == "update")  && @bake.image.attached? && @bake.errors[:image].count == 0  %>
      <div class="col-lg-6">
        <%= f.label :image, class: 'form-label' %>
        <%= image_tag @bake.image, class: 'form-control rounded' %>
      </div>
      <div class="col-lg-3 form-check">
        <%= label_tag :bake_remove_image, "Remove Image", class: 'form-label' %>
        <%= check_box_tag :bake_remove_image, class: "form-check-input" %>
      </div>
      <div class="col-lg-3">
        <%= f.label :image, "Replace Image", class: 'form-label' %>
    <% else %>
      <div class="col-lg-3">
        <%= f.label :image, "Add Image", class: 'form-label' %>
    <% end %>
    <%= f.file_field :bake_image_upload, accept: Bake::IMAGE_TYPES.join(", ") %>
    </div>
  <div>

  <div class="col-12">
    <%= f.submit %>
  </div>

<% end %>


<% if (action_name == "edit" || action_name == "update") %>
  <% if @bake.image.attached? && @bake.errors[:image].count == 0  %>
    <%= button_to "Delete Image", bakes_image_purge_path(@bake.id), method: :delete, data: {confirm: "Are you sure you want to delete this image?"} %>
  <% end %>
  <%= button_to "Delete Bake", @bake, method: :delete, data: {confirm: "THIS WILL DELETE THE ENTIRE BAKE !\nAre you sure?"} %>
<% end %>
