<!--<%= render 'card', bake: @bake %>-->

<div class="mt-4 p-3 show-bake-bakester shadow">
  <div class="show-bake-panel-bakester">
          <% if @bake.image.attached? %>
        <%= image_tag @bake.image, class: 'show-bake-image-bakester' %>
      <% else %>
        <%= image_tag 'no-image' , class: 'show-bake-image-bakester' %>
      <% end %>
  </div>


  <div class="show-bake-panel-bakester">
    <!-- Cake / Baker name -->
    <div class="show-bake-panel-bake-name-and-edit-button">
      <div>
        <span class="h2"><%= @bake.name %></span>
      </div>
      <!-- Edit Button -->
      <% if user_signed_in? %>
        <% if (@bake.baker.id == current_user.id || current_user.admin ) %>
          <div class="show-bake_panel-edit-button">
            <%= button_to "Edit", edit_bake_path(@bake) ,method: :get, class: 'btn btn-primary', form_class: "inline-button-to" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <span><%= raw "Baked by " + (link_to @bake.baker.full_name, @bake.baker) %></span>
    </div>

    <!-- Price / Lead time -->
    <div class="">
      <span class="h1 mb-0 inline-bakester"><%= "#{number_to_currency(@bake.unit_price_dollars)}"%></span>
      <span class="inline-bakester"><%= "per #{@bake.unit}" %></span>
    </div>
    <div>
      <% unless user_signed_in? && current_user.id == @bake.baker.id %>
        <%= button_to "Add to Cart", :cart, params: {bake_id: @bake.id, context: :bakes}, class: 'btn btn-primary', form_class: "inline-button-to" %>
      <% end %>
    </div>
    <div>
      <span><%= "Delivered in #{@bake.lead_time_days} days" %>
    </div>

  <!-- Description -->
    <div class="">
      <p><%= @bake.description %></p>
    </div>
    <div>
      <span><%= pluralize(@bake.view_count, "view") %></span>
    </div>

</div>
