

<div class="mt-4 p-3 bakester-show-bake shadow">
  <div class="bakester-show-bake-panel">
          <% if @bake.image.attached? %>
        <%= image_tag @bake.image, class: 'bakester-show-bake-image' %>
      <% else %>
        <%= image_tag 'no-image' , class: 'bakester-show-bake-image' %>
      <% end %>
  </div>


  <div class="bakester-show-bake-panel">
    <!-- Cake / Baker name -->
    <div class="show-bake-panel-bake-name-and-edit-button">
      <div>
        <div>
          <span class="h2"><%= @bake.name %></span>
        </div>
        <div>
            <% if action_name == 'my_bakes' %>
              <span><%= link_to @bake.category.name, my_bakes_path(params: {category: @bake.category.id}) %></span>
            <% else %>
              <span><%= link_to @bake.category.name, bakes_path(params: {category: @bake.category.id}) %></span>
            <% end %>
        </div>
      </div>
      <!-- Edit Button -->
      <% if user_signed_in? %>
        <% if (@bake.baker.id == current_user.id || current_user.admin ) %>
          <div class="show-bake_panel-edit-button">
            <%= button_to "Edit", edit_bake_path(@bake) ,method: :get, class: 'btn btn-primary', form_class: "inline-button-to" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <span><%= raw "Baked by " + (link_to @bake.baker.full_name, @bake.baker) %></span>
    </div>

    <!-- Price / Lead time -->
    <div class="">
      <div class="h1 mb-0"><%= "#{number_to_currency(@bake.price_dollars)}"%></div>
      <span class="bakester-inline"><%= "#{@bake.unit_count} #{@bake.unit.pluralize(@bake.unit_count)}" %></span>
      <% if @bake.unit_count > 1 %>
        <span class="bakester-inline"><%= " - #{number_to_currency(@bake.unit_price_dollars)} each" %></span>
      <% end %>
    </div>
    <div>
      <% unless user_signed_in? && current_user.id == @bake.baker.id %>
        <%= button_to "Add to Cart", :cart, params: {bake_id: @bake.id, context: :bakes}, class: 'btn btn-primary', form_class: "inline-button-to" %>
      <% end %>
    </div>
    <div>
      <span><%= "Delivered in #{@bake.lead_time_days} days" %>
    </div>

  <!-- Description -->
    <div class="">
      <p><%= @bake.description %></p>
    </div>
    <div>
      <span><%= pluralize(@bake.view_count, "view") %></span>
    </div>

</div>
