
<% if action_name == 'index' && current_user.admin %>
  <% filter = params[:filter] %>
  <div class='py-2'>
    <% ["all", "submitted", "in_cart"].each do |filt| %>
      <%= button_to filt.humanize.titleize, orders_path(filt == "all" ? nil : filt), method: :get, form_class: "inline-button-to", class: filter == (filt == "" || filt == "all" ? nil : filt) ? 'btn btn-primary' : 'btn btn-outline-primary' %>
    <% end %>
    <!--<%= button_to "All", orders_path, method: :get, form_class: "inline-button-to", class: filter == nil ? 'btn btn-primary' : 'btn btn-outline-primary' %>
    <%= button_to "Submitted", orders_path('submitted'), method: :get, form_class: "inline-button-to",  class: filter == 'submitted' ? 'btn btn-primary' : 'btn btn-outline-primary' %>
    <%= button_to "In Cart", orders_path('in_cart'), method: :get, form_class: "inline-button-to",  class: filter == 'in_cart' ? 'btn btn-primary' : 'btn btn-outline-primary' %> -->
  </div>
<% end %>
<% filter_string = params[:filter] ? "#{params[:filter]} " : ""  %>
<% if bake_orders.any? %>
  <div>
    <p class="py-2"><%= "#{bake_orders.count} #{filter_string.humanize.downcase}#{"orders".pluralize(bake_orders.count)}" %></p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order No</th>
        <% if controller_name == 'bake_orders' && action_name == 'index' %>
          <th>User</th>
          <th>Submitted?</th>
        <% end %>
        <th>Submitted</th>
        <th>Bakes</th>
        <th>Includes</th>
        <th>Order Total</th>
      </tr>
    </thead>
    <tbody>
      <% bake_orders.each do |bake_order| %>
        <tr>
          <td><%= link_to bake_order.id, bake_order %></td>
          <% if controller_name == 'bake_orders' && action_name == 'index' %>
            <td><%= link_to bake_order.user.full_name, bake_order %></td>
            <td><%= link_to bake_order.submitted ? "Y" : "N", bake_order %></td>
          <% end %>
          <td><%= link_to bake_order.submitted ? bake_order.submitted_at.to_formatted_s(:day_month_year) : "", bake_order %></td>
          <td><%= link_to bake_order.bake_jobs.sum(:quantity), bake_order %></td>
          <td>
            <% links = []  %>
            <% bake_job_display_limit = 3 %>
            <% bake_order.bake_jobs.find_each(batch_size: bake_job_display_limit) do |bake_job| %>
              <% links.push(link_to bake_job.bake.name, bake_job.bake) %>
            <% end %>
            <% bake_job_count = bake_order.bake_jobs.count %>
            <% if bake_job_count > bake_job_display_limit %>
              <% links.push("and #{bake_job_count-bake_job_display_limit} more") %>%
            <% end %>
            <% link_text = links.join(", ") %>
            <%= raw link_text %>
          </td>
          <td><%= link_to bake_order.submitted ? number_to_currency(bake_order.bake_jobs.sum("quantity * price_at_order") / 100.0) : "", bake_order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class='py-2'><%= "There are no #{filter_string.humanize.downcase}orders" %></p>
<% end %>