
<% if action_name == 'index' && current_user.admin %>
  <% #filter = params[:filter] %>
  <div class='py-2'>
    <% @filter_list.each do |filt| %>
      <% if params[:filter] %>
        <% btn_class = 'btn shadow ' +  ( params[:filter] == filt ? 'btn-primary' : 'btn-outline-primary' ) %>
      <% else %>
        <% btn_class = 'btn shadow ' + ( filt == "all" ? 'btn-primary' : 'btn-outline-primary' ) %>        
      <% end %>
      <%= button_to filt.humanize.titleize, bake_orders_path, method: :get, params: {filter: filt}, form_class: "inline-button-to", class: btn_class %>
    <% end %>
  </div>
<% end %>

<% if !params[:filter] || params[:filter] == "all" %>
  <% filter_string = "" %>
<% else %>
  <% filter_string = " #{params[:filter]}" %>
<% end %>

<% if bake_orders.any? %>
  <div>
    <p class="py-2"><%= "#{bake_orders.count}#{filter_string.humanize.downcase} #{"order".pluralize(bake_orders.count)}" %></p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="bakester-text-end">Order No</th>
        <% if controller_name == 'bake_orders' && action_name == 'index' %>
          <th>User</th>
          <th class="text-center">Submitted?</th>
        <% end %>
        <th class="text-center">Submitted</th>
        <th class="text-center">Bakes</th>
        <th>Includes</th>
        <th class="bakester-text-end">Order Total</th>
      </tr>
    </thead>
    <tbody>
      <% bake_orders.each do |bake_order| %>
        <tr>
          <td class="bakester-text-end"><%= link_to bake_order.id, bake_order %></td>
          <% if controller_name == 'bake_orders' && action_name == 'index' %>
            <td><%= bake_order.user.full_name %></td>
            <td class="text-center"><%= bake_order.submitted ? "Y" : "N" %></td>
          <% end %>
          <td class="text-center"><%= bake_order.submitted ? bake_order.submitted_at.to_formatted_s(:day_month_year) : "" %></td>
          <td class="text-center"><%= bake_order.bake_jobs.sum(:quantity) %></td>
          <td>
            <% links = []  %>
            <% bake_job_display_limit = 3 %>
            <% bake_order.bake_jobs.limit(bake_job_display_limit).each do |bake_job| %>
              <% links.push(link_to bake_job.bake.name, bake_job.bake) %>
            <% end %>
            <% bake_job_count = bake_order.bake_jobs.count %>
            <% if bake_job_count > bake_job_display_limit %>
              <% links.push("and #{bake_job_count-bake_job_display_limit} more") %>
            <% end %>
            <% link_text = links.join(", ") %>
            <%= raw link_text %>
          </td>
          <td class="bakester-text-end"><%= link_to bake_order.submitted ? number_to_currency(bake_order.bake_jobs.sum("quantity * price_at_order") / 100.0) : "", bake_order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class='py-2'><%= "There are no#{filter_string.humanize.downcase} orders" %></p>
<% end %>