<% if bake_orders.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order No</th>
        <% if controller_name == 'bake_orders' && action_name == 'index' %>
          <th>User</th>
          <th>Submitted?</th>
        <% end %>
        <th>Submitted</th>
        <th>Bakes</th>
        <th>Order Total</th>
      </tr>
    </thead>
    <tbody>
      <% bake_orders.each do |bake_order| %>
        <tr>
          <td><%= link_to bake_order.id, bake_order %></td>
          <% if controller_name == 'bake_orders' && action_name == 'index' %>
            <td><%= link_to bake_order.user.full_name, bake_order %></td>
            <td><%= link_to bake_order.submitted ? "Y" : "N", bake_order %></td>
          <% end %>
          <td><%= link_to bake_order.submitted ? bake_order.submitted_at.to_formatted_s(:day_month_year) : "", bake_order %></td>
          <td><%= link_to bake_order.bake_jobs.sum(:quantity), bake_order %></td>
          <td><%= link_to bake_order.submitted ? number_to_currency(bake_order.bake_jobs.sum("quantity * price_at_order") / 100.0) : "", bake_order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no orders</p>
<% end %>