<h1>Cart</h1>

<% if @cart.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(cart.errors.count, "error") %> prohibited checkout:</h2>

    <ul>
      <% @cart.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'cart', cart: @cart %>

<% if @cart.bake_jobs.any? %>
  <%= button_to "Checkout", :checkout, data: {confirm: "Confirm this order and send to Bakers?"} %>
  <%= button_to "Empty Cart", :cart, method: :delete, data: {confirm: "Are you sure you want to empty your cart?"} %>
<% end %>