<h1>Order</h1>

<% if !@bake_order.submitted %>
  <%= render 'cart', cart: @bake_order %>
<% else %>
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th scope="row">Order No</th>
        <td><%= @bake_order.id %></td>
      </tr>
      <tr>
        <th scope="row">User</th>
        <td><%= @bake_order.user.full_name %></td>
      </tr>
      <% if @bake_order.submitted %>
        <tr>
          <th scope="row">Submitted</th>
          <td><%= @bake_order.submitted ? @bake_order.submitted_at.to_formatted_s(:day_month_year) : "" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @bake_order.bake_jobs.any? %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="column">Status</th>
          <th scope="column">Baker</th>
          <th scope="column">Bake</th>
          <th scope="column">Qty</th>
          <th scope="column">Unit Price</th>
          <th scope="column">Line Total</th>
        </tr>
      </thead>
      <tbody>
        <% @bake_order.bake_jobs.each do |bake_job| %>
          <tr>
            <td><%= bake_job.status.titleize %></td>
            <td><%= link_to bake_job.baker.full_name, bake_job.baker %>
            <td><%= link_to bake_job.bake.name, bake_job.bake %></td>
            <% bake_quantity = bake_job.quantity %>
            <td><%= bake_quantity %></td>
            <% bake_price = bake_job.price_at_order %>
            <td><%= number_to_currency(bake_price/100.0) %></td>
            <td><%= number_to_currency(bake_quantity * bake_price / 100.0) %></td>
          </tr>
        <% end %>
        <tfoot>
          <tr>
            <th scope="row" colspan ="5">Total</tf>
            <td><%= number_to_currency(@bake_order.bake_jobs.sum("quantity * price_at_order") / 100.0) %></td>
          </tr>
        </tfoot>
      </tbody>
    </table>
  <% else %>
    <p>Order is empty!</p>
  <% end %>
<% end %>