<h1>Order</h1>

<% if !@bake_order.complete %>
  <%= render 'cart', cart: @bake_order %>
<% else %>
  <% if @bake_order.bake_jobs.count > 0 %>
    <table>
      <thead>
        <tr>
          <th scope="column">Bake</th>
          <th scope="column">Qty</th>
          <th scope="column">Unit Price</th>
          <th scope="column">Line Total</th>
        </tr>
      </thead>
      <tbody>
        <% @bake_order.bake_jobs.each do |bake_job| %>
          <tr>
            <td><%= link_to bake_job.bake.name, bake_job.bake %></td>
            <td><%= bake_job.quantity %></td>
            <% bake_price = bake_job.price_at_order %>
            <td><%= number_to_currency(bake_price/100.0) %></td>
            <td><%= number_to_currency(bake_job.quantity * bake_price / 100.0) %></td>
          </tr>
        <% end %>
        <tfoot>
          <tr>
            <th scope="row" colspan ="3">Total</tf>
            <td><%= number_to_currency(@bake_order.bake_jobs.sum("quantity * price_at_order") / 100.0) %></td>
          </tr>
        </tfoot>
      </tbody>
    </table>
  <% else %>
    <p>Order is empty!</p>
  <% end %>
<% end %>