<div>
  <div class='py-2'>

    <% filter = params[:filter] %>
    <% if action_name == 'index' %>
      <% path_helper = bake_jobs_path %>
    <% elsif action_name == 'users_bake_jobs' %>
      <% path_helper = users_bake_jobs_path %>
    <% else %>
      <% path_helper = my_bake_jobs_path %>
    <% end %>

    <div class='py-2'>
      <% @filter_list.each do |filt| %>
        <% if params[:filter] %>
          <% btn_class = 'btn shadow ' + ( params[:filter] == filt ? 'btn-primary' : 'btn-outline-primary' ) %>
        <% else %>
          <% btn_class = 'btn shadow ' + ( filt == "all" ? 'btn-primary' : 'btn-outline-primary' ) %>        
        <% end %>
        <%= button_to filt.humanize.titleize, path_helper, method: :get, params: {filter: filt}, form_class: "inline-button-to", class: btn_class %>
      <% end %>
    </div>

  </div>
</div>

<% if !params[:filter] || params[:filter] == "all" %>
  <% filter_string = "" %>
<% else %>
  <% filter_string = " #{params[:filter]}" %>
<% end %>

<% if bake_jobs.any? %>
  <div>
    <p class="py-2"><%= "#{@bake_jobs.count}#{filter_string.humanize.downcase} #{"job".pluralize(@bake_jobs.count)}" %></p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Job No</th>
        <th>Customer</th>
        <% unless controller_name == 'bake_jobs' && action_name == 'my_bake_jobs' %>
          <th>Baker</th>
        <% end %>
        <th class="bakester-table-cell-show-lg">Submitted</th>
        <th class="bakester-table-cell-show-sm">Bake</th>
        <th class="bakester-table-cell-show-md bakester-text-end">Unit Price</th>
        <th class="bakester-table-cell-show-md text-center">Quantity</th>
        <th class="bakester-text-end">Payment</th>
        <th>Status</th>
        <th class="bakester-table-cell-show-md"></th>
      </tr>
    </thead>
    <tbody>
      <% bake_jobs.each do |bake_job| %>
        <tr>
          <td><%= link_to bake_job.id, edit_bake_job_path(bake_job) %></td>
          <td><%= link_to bake_job.bake_order.user.full_name, bake_job.bake_order.user %></td>
          <% unless controller_name == 'bake_jobs' && action_name == 'my_bake_jobs' %>
            <td><%= link_to bake_job.baker.full_name, bake_job.baker %></td>
          <% end %>
          <td class="bakester-table-cell-show-lg">
            <% if bake_job.bake_order.submitted %>
              <%= bake_job.bake_order.submitted_at.to_formatted_s(:day_month_year)%><span class="bakester-space-or-new-line-lg"></span><%= bake_job.bake_order.submitted_at.to_formatted_s(:hour_minute) %>
            <% else %>
              <%= "" %>
            <% end %>
          </td>
          <td class="bakester-table-cell-show-sm"><%= link_to bake_job.bake.name, bake_job.bake %></td>
          <td class="bakester-table-cell-show-md bakester-text-end">
            <% if bake_job.bake_order.submitted %>
              <% bake_price = bake_job.price_at_order %>
              <%= number_to_currency(bake_price / 100.0) %>
            <% else %>
              <%= "" %>
            <% end %>
          </td>
          <% bake_quantity = bake_job.quantity %>
          <td class="bakester-table-cell-show-md text-center"><%= bake_job.quantity %></td>
          <td class="bakester-text-end">
            <% if bake_job.bake_order.submitted %>
              <%= number_to_currency(bake_quantity * bake_price / 100.0) %>
            <% else %>
              <%= "" %>
            <% end %>          
          </td>
          <td><%= bake_job.status.humanize.titleize %></td>
          <td class="bakester-table-cell-show-md"><%= link_to "edit", edit_bake_job_url(bake_job.id, return: action_name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% sentence_start = action_name == 'my_bake_jobs' ? 'You have' : 'There are'  %>
  <p class='py-2'><%= "#{sentence_start} no#{filter_string.humanize.downcase} bake jobs" %></p>
<% end %>