<div>
  <div class='py-2'>
    <% filter = params[:filter] %>
    <% if action_name == 'index' %>
      <%= button_to "All", bake_jobs_path, method: :get, form_class: "inline-button-to", class: filter == nil ? 'btn btn-primary' : 'btn btn-outline-primary' %>
      <%= button_to "Pending", bake_jobs_path('pending'), method: :get, form_class: "inline-button-to", class: filter == 'pending' ? 'btn btn-primary' : 'btn btn-outline-primary' %>
      <%= button_to "Complete", bake_jobs_path('complete'), method: :get, form_class: "inline-button-to", class: filter == 'complete' ? 'btn btn-primary' : 'btn btn-outline-primary' %>
      <%= button_to "Cancelled", bake_jobs_path('cancelled'), method: :get, form_class: "inline-button-to", class: filter == 'cancelled' ? 'btn btn-primary' : 'btn btn-outline-primary' %>
      <%= button_to "In Cart", bake_jobs_path('in_cart'), method: :get, form_class: "inline-button-to", class: filter == 'in_cart' ? 'btn btn-primary' : 'btn btn-outline-primary' %>
    <% else %>
      <%= button_to "All", my_bake_jobs_path, method: :get, form_class: "inline-button-to", class: filter == nil ? 'btn btn-primary' : 'btn btn-outline-primary' %>
      <%= button_to "Pending", my_bake_jobs_path('pending'), method: :get, form_class: "inline-button-to", class: filter == 'pending' ? 'btn btn-primary' : 'btn btn-outline-primary' %>
      <%= button_to "Complete", my_bake_jobs_path('complete'), method: :get, form_class: "inline-button-to", class: filter == 'complete' ? 'btn btn-primary' : 'btn btn-outline-primary' %>
    <% end %>
  </div>
</div>
<% filter_string = params[:filter] ? "#{params[:filter]} " : ""  %>
<% if bake_jobs.any? %>
  <div>
    <p class="py-2"><%= "#{@bake_jobs.count} #{filter_string.humanize.downcase}#{"jobs".pluralize(@bake_jobs.count)}" %></p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Job No</th>
        <th>Customer</th>
        <% unless controller_name == 'bake_jobs' && action_name == 'my_bake_jobs' %>
          <th>Baker</th>
        <% end %>
        <th>Status</th>
        <th>Submitted</th>
        <th>Bake</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Payment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% bake_jobs.each do |bake_job| %>
        <tr>
          <td><%= link_to bake_job.id, edit_bake_job_path(bake_job) %></td>
          <td><%= link_to bake_job.bake_order.user.full_name, bake_job.bake_order.user %></td>
          <% unless controller_name == 'bake_jobs' && action_name == 'my_bake_jobs' %>
            <td><%= link_to bake_job.baker.full_name, bake_job.baker %></td>
          <% end %>
          <td><%= bake_job.status %></td>
          <td><%= bake_job.bake_order.submitted ? bake_job.bake_order.submitted_at.to_formatted_s(:hour_minute_day_month_year) : "" %></td>
          <td><%= link_to bake_job.bake.name, bake_job.bake %></td>
          <td>
            <% if bake_job.bake_order.submitted %>
              <% bake_price = bake_job.price_at_order %>
              <%= number_to_currency(bake_price / 100.0) %>
            <% else %>
              <%= "" %>
            <% end %>
          </td>
          <% bake_quantity = bake_job.quantity %>
          <td><%= bake_job.quantity %></td>
          <td>
            <% if bake_job.bake_order.submitted %>
              <%= number_to_currency(bake_quantity * bake_price / 100.0) %>
            <% else %>
              <%= "" %>
            <% end %>          
          </td>
          <td><%= link_to "edit", edit_bake_job_url(bake_job.id, return: action_name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% sentence_start = action_name == 'my_bake_jobs' ? 'You have' : 'There are'  %>
  <p class='py-2'><%= "#{sentence_start} no #{filter_string.humanize.downcase}bake jobs" %></p>
<% end %>