<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group py-2">
    <%#= form.label :name, class: 'form-label' %>
    <span id="bakester-search-category-label" class="input-group-text bakester-bg-light-pink">Name:</span>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="py-2">
    <%= form.submit class: 'btn btn-secondary shadow' %>
  </div>
<% end %>
<%= button_to "Back", categories_path, method: :get, class: "btn btn-primary shadow", form_class: "inline-button-to"  %>
