<h2><%= @category.name %></h2>


<p><%= pluralize(@category.bakes.count, "bake") %></p>
<%= render 'bakes/list', bakes: @category.bakes %>

<div class="py-2">
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</div>