<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'row' }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <h1 class="py-2">My Account</h3>


  <div class='py-2 row'>
    <div class="col-md-6">
      <%= f.label :first_name, class: 'form-label' %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :last_name, class: 'form-label' %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="py-2 col-12">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div class="py-2 col-12">
    <%= f.label :current_password, class: 'form-label' %>
    <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class='py-4'>
    <%= f.submit "Update", class: 'btn btn-primary shadow' %>
  </div>

<% end %>
 
  <div class="border border-primary rounded shadow p-4 my-2">
    <%= link_to "Change Password", :change_password, class: 'h3' %>
  </div>

  <div class="border border-primary rounded shadow p-4 my-2">
    <%= link_to "View My Orders", :myorders, class: 'h3' %>
  </div>


  <% if current_user.baker %>
    <div class="border border-primary rounded shadow p-4 my-2">
      <%= link_to "View My Bakes", :my_bakes, class: 'h3' %>
    </div>
    <div class="border border-primary rounded shadow p-4 my-2">
      <%= link_to "View My Bake Jobs", :my_bake_jobs, class: 'h3' %>
    </div>
  <% else %>
    <div class="border border-primary rounded shadow p-4 my-2">
      <h3 class="py-2">Upgrade to Baker!</h3>
      <p class="px-4">Upgrade your account to sell your own bakes on Bakester!</p>
      <div class="px-4">
        <%= render 'upgrade_form' %>
      </div>
    </div>
  <% end %>
<!--
<h3>Cancel my account</h3>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
<%= link_to "Back", :back %>
-->
