<h2 class="py-2">Change Password</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="py-2">
    <%= f.label :current_password, class: 'form-label' %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class="py-2">
    <%= f.label :new_password, class: 'form-label' %>
    <!-- <i>(leave blank if you don't want to change it)</i> --->
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="py-2">
    <%= f.label :password_confirmation, class: 'form-label' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="py-4">
    <%= f.submit "Change Password" %>
  </div>
<% end %>