<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  <div>

  <div class="field">
    <%= f.label :current_password %>
    <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
  <h2>Change Password</h2>
  <%= button_to "Change Password", :change_password, method: :get %>

  <% if current_user.baker %>
    <h2>My Bakes</h2>
    <p>Placeholder to my bakes page</p>
  <% else %>
    <h2>Upgrade to Baker!</h2>
    <p>Upgrade your account to sell your own bakes on Bakester!</p>
    <%= render 'upgrade_form' %>
  <% end %>

<h2>Cancel my account</h2>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

<%= link_to "Back", :back %>
