<h1><%= @user.full_name %></h2>
<h3><%= @user.baker ? "Baker" : "User" %> Profile</h1>

<% if @user.baker %>
  <p>User since <%= "#{@user.created_at.year}, Baker since #{@user.baker_at.year}" %></p>
<% else %>
  <p>User since <%= "#{@user.created_at.year}" %></p>
<% end %>
<% if @user.baker %>
  <p><%= "#{@user.first_name}'s' bakes" %></p>
  <%= render 'bakes/list', bakes: @user.bakes %>
<% end %>