<h1><%= @user.full_name %></h2>
<h3><%= @user.baker ? "Baker" : "User" %> Profile</h1>

<% if @user.baker %>
  <p>User since <%= "#{@user.created_at.year}, Baker since #{@user.baker_at.year}" %></p>
<% else %>
  <p>User since <%= "#{@user.created_at.year}" %></p>
<% end %>

<% if user_signed_in? && current_user.admin %>
  <div class="py-2">
    <%= button_to "#{@user.first_name}'s Orders", users_bake_orders_path(@user.id), method: :get, class: 'btn btn-primary shadow', form_class: "inline-button-to" %>
    <%= button_to "#{@user.first_name}'s Bake Jobs", users_bake_jobs_path(@user.id), method: :get, class: 'btn btn-primary shadow', form_class: "inline-button-to" %>
  </div>
<% end %>

<% if @user.baker %>
  <div class="py-2">
    <p><%= "#{@user.first_name}'s' bakes" %></p>
  </div>
  <%= render 'bakes/list', bakes: @user.bakes %>
<% end %>